<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/style.css"/>
    <title></title>
    <img id="logo" alt="logo" src="static/logo.png"/>
  </head>
  <body>

    <div id="Confirmation">
    <h1> Your Courses Have Been Added!</h1>

    {% for course in selected_courseList %}
      <ul>
        <li>{{course.number}} {{course.name}}</li>
      </ul>
    {% endfor %}




     <form id=backButton action="/">
        <button>See My Route(s)</button>
    </form>
    <div>
  </body>
</html>
