<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="311469694498-hh3fvboihp5ad7ogfqidechkugugic7l.apps.googleusercontent.com">
    <link href="https://fonts.googleapis.com/css?family=Acme|Fjalla+One|Literata|Open+Sans|Oswald|Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="static/style.css"/>
    <title></title>
    <img id="logo" alt="logo" src="static/logo.png"/>
  </head><br><br>
  <body>
    <div>
    <h2>Welcome to <span class="Letters">U</span>ni<span class="Letters">R</span>outes!<h2><br>
    </div>

    <div class="form">
    <h3><span class="directions">Enter your CRN(s):</span></h3>
    <form method = "post" action = "/redirect" id= "my-form">
            <input name = "CRN1" type = "number" class = "school1"
                 placeholder="12345"><br>
            <input name = "CRN2" type = "number" class = "school1"
                 placeholder="12345"><br>
            <input name = "CRN3" type = "number" class = "school1"
                 placeholder="12345"><br>
            <input name = "CRN4" type = "number" class = "school1"
                  placeholder="12345"><br>
            <input name = "CRN5" type = "number" class = "school1"
                  placeholder="12345"><br>
            <input id="addCRN" type="button" value="DELETE COURSES" onclick="deleteMarkers();"/>

        <div class="submit">
          <button type="submit" formaction="/redirect">SUBMIT</button><br><br>
        </div>
      </form>
    </script>


    </div>
    <div class="weekdays">
      <h3> Select the day of the week in which you want to see your route!</h3>
      <div class="btn-group">
        <button onclick="removeAllButLet('M');">Monday</button><br>
        <button onclick="removeAllButLet('T');">Tuesday</button><br>
        <button onclick="removeAllButLet('W');">Wednesday</button><br>
        <button onclick="removeAllButLet('T');">Thursday</button><br>
        <button onclick="removeAllButLet('F');">Friday</button><br>
      </div>
    </div>

      <div id="map_canvas" style="width: 800px; height:600px;"></div>
      <div id="login_button" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
      <script>


      function onSignIn(googleUser) {
       // Useful data for your client-side scripts:
       var profile = googleUser.getBasicProfile();
       console.log("ID: " + profile.getId()); // Don't send this directly to your server!
       console.log('Full Name: ' + profile.getName());
       console.log('Given Name: ' + profile.getGivenName());
       console.log('Family Name: ' + profile.getFamilyName());
       console.log("Image URL: " + profile.getImageUrl());
       console.log("Email: " + profile.getEmail());

       // The ID token you need to pass to your backend:
       var id_token = googleUser.getAuthResponse().id_token;
       console.log("ID Token: " + id_token);
       document.querySelector("#signoutbutton").classList.remove("hide");
       document.querySelector("#login_button").classList.add("hide");

      }
      let map;
      let pos;
      let markers = []
      let randNum;
      let title;
      let directionsService;
      let directionsDisplay;

      function initMap() {

        directionsService = new google.maps.DirectionsService;
        directionsDisplay = new google.maps.DirectionsRenderer;

          map = new google.maps.Map(document.getElementById('map_canvas'), {
          zoom: 15,
          center: {lat: 33.9480, lng: -83.3773}
        });
        colors = ['green', 'blue', 'black', 'brown', 'yellow']

        {% for course in courses %}
          randNum = Math.floor(Math.random() * colors.length);
          title = '{{courses[course][0]}}: ';
          {% for day in courses[course][2] %}
            title += '{{day}}'.toUpperCase();
          {% endfor %}
          pos = {lat: {{courses[course][1][0]}}, lng: {{courses[course][1][1]}} };
          marker = new google.maps.Marker({
          position: pos,
          map: map,
          label: {
            text: title,
            color: colors[randNum],
            fontSize: "16px",
            fontWeight: "bold"
            }
          });
          colors.pop(colors[randNum]);
          markers.push(marker);
        {% endfor %}
        directionsDisplay.setMap(map);
        if(markers.length > 1){
          let wps = [];
          if(markers.length > 2){
            for(let i = 1; i < markers.length - 2; i++){
              wps.push({
                location: {lat: markers[i].getPosition.lat(), lng: markers[i].getPosition.lng()},
                stopover: true
              });
            }
          }
          directionsService.route({
            origin: {lat: markers[0].getPosition().lat(), lng: markers[0].getPosition().lng()},
            destination: {lat: markers[markers.length - 1].getPosition().lat(), lng: markers[markers.length - 1].getPosition().lng()},
            waypoints: wps,
            travelMode: 'WALKING'
          }, function(response, status) {
            if (status === 'OK') {
              directionsDisplay.setDirections(response);
            } else {
              window.alert('Directions request failed due to ' + status);
            }
          });
        }


      }


      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }

      function deleteMarkers() {
        setMapOnAll(null);
        directionsDisplay.setMap(null);
        markers = [];
      }

      function removeAllButLet(let){
        setMapOnAll(map);
        for(let i = 0; i < markers.length; i++){
          title = markers[i]['label']['text']
          if(title.indexOf(let, title.indexOf(':')) == -1){
            markers[i].setMap(null);
          }
        }
      }

    </script>
    <a href="#" id="signoutbutton" onclick="signOut()" class= "button hide">Sign out</a>
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
          document.querySelector("#signoutbutton").classList.add("hide");
          document.querySelector("#login_button").classList.remove("hide");
        });
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDm2OuZ5noSJfmT6rPUr_vcrYfBZ9wA8B4&callback=initMap">
    </script>
    <script src="/static/main.js"></script>
  </body>
</html>
