<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Enter your CRN(s):</h2
    <form method="post">
            <input type = "number"
                 value = "text here"><br>
            <input type = "number"
                 value = "text here"><br>
            <input type = "number"
                 value = "text here"><br>
            <input type = "number"
                  value = "text here"><br>
            <input type = "number"
                  value = "text here"><br>
        <button id="textnum" onclick="newInput">Add CRN</button><br><br>
        <!-- <input type="submit" value="Submit!"> -->
      <a href="AddedCourse.html">Submit</a>
    </form>
    <script src="/Users/cssi/CSSIProject/static/main.js"></script>
  </body>
</html>
