<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Enter your CRN(s):</h2>
    <form>
            <input type = "number"
                 value = "text here"><br>
            <input type = "number"
                 value = "text here"><br>
            <input type = "number"
                 value = "text here"><br>
            <input type = "number"
                  value = "text here"><br>
            <input type = "number"
                  value = "text here"><br>
            <input id="addCRN" type="button" value="Add CRN" onclick="newInput();"/>
       <!-- <button id="textnum" onclick="newInput">Add CRN</button> -->
        <!-- <input type="submit" value="Submit!"> -->
      <!-- <a href="AddedCourse.html">Submit</a><br><br> -->
        <!-- <button type="submit">Submit</button><br><br> -->
        <button type="submit" formaction="/redirect">Submit</button><br><br>

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3309.732416548736!2d-83.37951614914748!3d33.948009730567904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f6136038fba6bf%3A0xdf849d68bb40ef74!2sUniversity+of+Georgia!5e0!3m2!1sen!2sus!4v1563910470009!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </form>
    <script src="/static/main.js"></script>
  </body>
</html>
